@use "../../styles/variables.scss" as vars;
@use "../../styles/responsive.scss" as resp;

.pieChartBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    @include resp.xxl {
      font-size: 24px;
      color: vars.$main-color; // Updated to use main color variable
    }
  }

  .chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .options {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 14px;
    color: vars.$soft-color; // Updated to use soft color for text

    .option {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      .title {
        display: flex;
        gap: 10px;
        align-items: center;

        .dot {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: vars.$dark-color; // Updated to use dark color for dots
        }
      }
    }
  }
}
